.profile {
  display: flex;
  justify-content: center;
  padding: 75px 0;
}

.profile__container {
  min-width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__title {
  align-self: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0 123px;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__field {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 0 0;
}

.profile__field:first-of-type {
  padding: 0;
  border-bottom: 1px solid #e8e8e8;
}

.profile__label {
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.profile__input {
  border: none;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: end;
  padding: 0;
}

.profile__input:focus {
  border-radius: 2px;
  outline: 1px solid #3861f5;
}

.profile__input::placeholder {
  color: #000;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.profile__error-message {
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  color: #ee3465;
}

.profile__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: 199px 0 0;
}

.profile__button-edit {
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  transition: opacity 0.5s ease;
  cursor: pointer;
  padding: 0;
}

.profile__button-edit:hover {
  opacity: 0.7;
}

.profile__button-logout {
  border: none;
  background-color: transparent;
  color: #ee3465;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  transition: opacity 0.5s ease;
  cursor: pointer;
  padding: 0;
}

.profile__button-logout:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .profile {
    padding: 236px 0 75px 10px;
  }

  .profile__title {
    margin: 0 0 96px;
  }

  .profile__button-container {
    margin: 190px 0 0;
  }
}

@media screen and (max-width: 470px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__container {
    min-width: 260px;
  }

  .profile__title {
    margin: 0 0 80px;
  }

  .profile__button-container {
    margin: 358px 0 0;
  }

  .profile__button-edit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button-logout {
    font-size: 12px;
    line-height: 15px;
  }
}
