.about-project {
  max-width: 1280px;
  min-height: 608px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

.about-project__title {
  max-width: 1140px;
  box-sizing: border-box;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  padding: 110px 0 23px;
}

.about-project__info {
  max-width: 1140px;
  list-style-type: none;
  display: flex;
  column-gap: 40px;
  margin: 70px auto 0;
  padding: 0;
}

.about-project__info-item {
  max-width: 550px;
  margin: 0;
  padding: 0;
}

.about-project__info-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0 0 26px;
  padding: 0;
}

.about__project__info-description {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.about-project__time {
  display: grid;
  grid-template-columns: 228px 912px;
  grid-template-rows: 36px;
  justify-content: center;
  list-style-type: none;
  margin: 110px 0 110px;
  padding: 0;
}

.about-project__time-weeks {
  display: flex;
  background-color: #f2f2f2;
  min-height: 36px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.about-project__time-weeks_green {
  background-color: #2be080;
}

.about-project__time-description {
  margin: 0;
  padding: 0;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  margin-top: 14px;
}

@media screen and (max-width: 1279px) {
  .about-project {
    min-height: 585px;
  }

  .about-project__title {
    max-width: 668px;
    padding-top: 90px;
  }

  .about-project__info-title {
    margin-bottom: 22px;
  }

  .about-project__info {
    max-width: 668px;
  }

  .about-project__time {
    grid-template-columns: 140px 528px;
    margin: 90px 0 90px;
  }

  .about__project__info-description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
    margin-bottom: 30px;
  }

  .about-project__title {
    max-width: 284px;
    font-size: 18px;
    letter-spacing: -0.72px;
    padding: 70px 0 25px;
  }

  .about-project__info {
    max-width: 284px;
    flex-direction: column;
    row-gap: 56px;
    margin: 60px 18px 0;
  }

  .about-project__info-title {
    margin-bottom: 18px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about__project__info-description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__time {
    grid-template-columns: 100px 184px;
    margin: 60px 18px 70px;
  }

  .about-project__time-weeks {
    min-height: 35px;
    font-size: 11px;
  }

  .about-project__time-description {
    font-size: 11px;
    line-height: normal;
    margin-top: 10px;
  }
}
