.navtab {
  background: #f5f5f5;
  padding: 25px 0;
}

.navtab__nav {
  display: flex;
  justify-content: center;
}

.navtab__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navtab__link {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: opacity 0.5s ease;
}

.navtab__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .navtab__nav {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .navtab__list {
    gap: 24px;
  }

  .navtab__link {
    font-size: 11px;
  }
}
